<!DOCTYPE html>
<html lang="en">
<head>
    <title>올랑올랑</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="../css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
top 예정

<footer class="py-4 bg-light mt-auto">
    <div class="jumbotron text-center" style="margin-bottom: 0">
        <img src="../image/logo.png" style="width: 30%">
        <p id="font2">이용 폰트 : 마포구 MAPO꽃섬</p>
        <p id="font1">이용 폰트 : Gmarket Sans L</p>
    </div>
</footer>
</body>
</html>