<!DOCTYPE html>
<html th:replace="~{/layout/layoutFile :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>자유게시판</title>
</head>
<body>

<section>
    <div id="wrap" align="center">
        <!-- 검색폼 -->
        <div class="col-md-8">
            <form name="findF" id="findF" action="list" class="form-inline">
                <select name="findType" id="findType" class="form-control m-3">
                    <option value="0">::검색 유형::</option>
                    <option value="1">제 목</option>
                    <option value="2">작성자</option>
                    <option value="3">글내용</option>
                </select> <input type="text" name="findKeyword" id="findKeyword"
                                 placeholder="검색어를 입력하세요" class="form-control m-3" required>
                <button class="btn btn-primary">검 색</button>
            </form>
        </div>

        <!-- 분류 -->
        <table class="table table-striped table-hover " id="bbs">
            <tr class="table-secondary">
                <th width="10%">글번호</th>
                <th width="30%">제 목</th>
                <th width="20%">글쓴이</th>
                <th width="20%">날 짜</th>
                <th width="10%">조회수</th>
            </tr>

            <!-- 데이터넣기 -->
            <!--<c:if test="${boardList eq null or empty boardList}">
                <tr>
                    <td colspan="5">데이터가 없습니다.</td>
                </tr>
            </c:if>
            <c:if test="${boardList ne null and not empty boardList}">
                <c:forEach var="board" items="${boardList}">

                    &lt;!&ndash; 데이터넣기 &ndash;&gt;
                    <tr>
                        <td>
                            <c:out value="${board.bnum}"/>
                        </td>
                        <td style="text-align: left; padding-left: 10px"><a
                                href="view?bnum=<c:out value=" ${board.bnum}"/>">
                            <c:if
                                    test="${board.newImg < 1 }">
                                <span class="badge badge-success">New</span>
                            </c:if> &lt;!&ndash; 답변 레벨에 따른 들여쓰기 &ndash;&gt;
                            <c:forEach var="k" begin="0"
                                       end="${board.lev}">
                                &nbsp;&nbsp;&nbsp
                            </c:forEach>
                            <c:if test="${board.lev>0}">
                                <img src="../image/re.png" style="width:5%">
                            </c:if> &lt;!&ndash; 글머리(제목 앞에 카테고리 넣어보기) &ndash;&gt;
                            <c:if test="${board.cg_num==1 }">
                                <label>[자유게시판]</label>
                            </c:if>
                            <c:out value="${board.btitle}"/>

                            </a>
                            <c:if test="${board.filesize > 0 }">
                                <img src="../image/file.png" width="26px">
                            </c:if>
                        </td>
                        <td>
                            <c:out value="${board.nick }"/>
                        </td>
                        <td>
                            <fmt:formatDate value="${board.bdate}"
                                            pattern="yyyy-MM-dd"/>
                        </td>
                        <td>
                            <c:out value="${board.binquiry}"/>
                        </td>
                        <td>
                            <c:out value="아직안함"/>
                        </td>
                    </tr>
                </c:forEach>
            </c:if>-->

            <!-- 페이징 시작 -->
<!--            <tr>
                <td colspan="10" class="text-center col-md-10">${pageNavi}</td>
                <%&#45;&#45;
                <td colspan="2"><span class="text-primary">총게시글수: <c:out
                        value="${paging.totalCount}"/>개
            </span> <br> <span class="text-danger">${paging.cpage}</span> / <span>${paging.pageCount}</span>
                </td>
                &#45;&#45;%>
            </tr>-->
        </table>
    </div>

    <tr>
        <td>
            <button class="btn btn-primary" onclick="location.href='insert'">글쓰기</button>
        </td>
    </tr>
</section>
</body>
</html>